body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  background: white;
  font-family: sans-serif;
}

/*
 * Basic copy styles
 */
.preamble {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  font-size: 15px;
  line-height: 1.5;
}

h1 {
  color: #E91E63;
  font-size: 90px;
  line-height: 50px;
  font-family: 'Bilbo Swash Caps', cursive;
  padding: 0;
  margin: 0;
}

/*
 * The preamble at the top.
 */
#container, #colorsContainer {
  box-sizing: border-box;
  line-height: 0;
  text-align: center;
}

#colorsContainer {
  margin: 14px 0;
}

#colorsContainer div {
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}

#colorsContainer div.active {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
  transform: scale(1.6);
}

#container {
  transition-duration: 10s;
}

.box {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid white;
  background-color: #f9f9f9;
  transition: background-color ease-out;
  transition-duration: inherit;
  border-radius: 50%;
}
.box:hover {
  transition: background-color 0s ease-in;
  -webkit-user-select: none;
-webkit-touch-callout: none /*only to disable context menu on long press*/
}

.box.black:hover, .box.black:active          { background-color: #000000; }
.box.red:hover, .box.black:active            { background-color: #f44336; }
.box.pink:hover, .box.black:active           { background-color: #E91E63; }
.box.purple:hover, .box.black:active         { background-color: #9C27B0; }
.box.deeppurple:hover, .box.black:active     { background-color: #673AB7; }
.box.indigo:hover, .box.black:active         { background-color: #3F51B5; }
.box.blue:hover, .box.black:active           { background-color: #2196F3; }
.box.lightblue:hover, .box.black:active      { background-color: #03A9F4; }
.box.cyan:hover, .box.black:active           { background-color: #00BCD4; }
.box.teal:hover, .box.black:active           { background-color: #009688; }
.box.green:hover, .box.black:active          { background-color: #4CAF50; }
.box.lightgreen:hover, .box.black:active     { background-color: #8BC34A; }
.box.lime:hover, .box.black:active           { background-color: #CDDC39; }
.box.yellow:hover, .box.black:active         { background-color: #FFEB3B; }
.box.amber:hover, .box.black:active          { background-color: #FFC107; }
.box.orange:hover ,.box.black:active         { background-color: #FF9800; }
.box.deeporange:hover, .box.black:active     { background-color: #FF5722; }
.box.brown:hover, .box.black:active          { background-color: #795548; }
.box.grey:hover, .box.black:active           { background-color: #9E9E9E; }

/* If there's anything shittier than styling input type=ranges, I want
 * to see it. */
input[type="range"] {
  -webkit-appearance: none;
  background-color: #E91E63;
  height: 2px;
  border-radius: 2px;
  margin: 0 auto;
  vertical-align: middle;
}
input[type="range"]::-moz-range-track {
  height: 2px;
  background-color: #E91E63;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #E91E63;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
input[type="range"]::-moz-range-thumb {
  background-color: #E91E63;
  width: 17px;
  height: 17px;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.4);
}
input[type="range"]::-moz-range-thumb:active {
  transform: scale(1.4);
}
.slider-value {
  display: inline-block;
  min-width: 35px;
}
